*{
    margin: 0;
    padding: 0;
    font-family: 'monserat', sans-serif;
    background-color: #0d0d0d;
    scroll-behavior: smooth;
}

img{
    margin: 2rem 0 0 2rem;
}


.hero{
    height: 300vh;
    width: 45vw;
    margin: 5% auto;
    color: #d6d6d6;
}

#naam{
    font-weight: 600;
    color: #9DCAFF;
}

h3{
    padding: 2.5% 0;
    color: #d6d6d6;
}

h4{
    padding: 2.5% 0;
    color: #d6d6d6;
}

#foto1{
    width: 75%;
}

#foto2{
    rotate: -90deg;
    margin: 0 0 30% 10%;
}

#foto3{
    width: 100%;
}

#foto4{
    width: 90%;
}

#scaledframe{
    zoom: 0.05;
    width: 5000vw;
    height: 2600vh;

}

a{
    text-decoration: none;
    color: rgb(20, 98, 207)
}

.navBar{
    display: flex;
    justify-content: space-evenly;
    color: #0d0d0d;
    position: fixed;
    width: 100vw;
    margin: 0 0 5rem 0;
    z-index: 1000;
}

#innerNav{
    display: flex;
    margin-top: 4vh;
}

#innerNav a{
    text-decoration: none;
    color: #fff;
    margin: 0 3vw;
    justify-content: space-evenly;
    transition: 0.6s;
}

#innerNav a:hover{
    text-decoration: none;
    color: #EF5D62;
    margin: 0 3vw;
    justify-content: space-evenly;
    transition: 0.6s;
}

#logo{
    height: 4vh;
    margin: 1.7rem 0 0 2rem;
}

#contactBtn{
    margin: 2.5vh 0;
    padding: 15px 40px;
    background: linear-gradient(to left, #EF5D62, #8E3889);
    border-radius: 30px;
    color: #fff;
}

#backBtn{
    margin: 20vh 15vw;
    padding: 15px 40px;
    background: linear-gradient(to left, #EF5D62, #8E3889);
    border-radius: 30px;
    color: #fff;
}

#moreBtn{
    margin: 2.5vh 0;
    padding: 15px 40px;
    background: none;
    border-radius: 30px;
    color: #fff;
    background-color: #1e1e1e;
}

#header{
    color: #fff;
    font-size: 35px;
    background-color: #1e1e1e;
}

#headerText{
    color: #fff;
    font-weight: 400;
    max-width: 27vw;
    font-size: 15px;
    background-color: #1e1e1e;
    padding: 1rem 0 2rem 0;
}

.innerHeroRight{
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 90vw;
    height: 80vh;
    padding: 20px;
    margin: auto;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.innnerHero{
    padding: 0 0 0 2vw;
    background-color: #1e1e1e;
}

#heroIMg{
    width: 41%;
    height: 70%;
    background-color: #1e1e1e;
    margin: 0 0 0 6vw;
}

#webdesigner{
    background-image: linear-gradient(#EF5D62, #8E3889);
    color: transparent;
    background-clip: text;
    font-size: 35px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    height: 60vh;
    max-width: 73vw;
    margin: 0 auto;
    }

    
.div1 { 
    grid-area: 1 / 1 / 3 / 3;
    /* border: 1px solid white;  */
    border-radius: 2rem;

    }

.div2 { 
    grid-area: 1 / 3 / 2 / 5;
    /* border: 1px solid white;  */
    border-radius: 2rem;
}

.div3 { 
    grid-area: 2 / 3 / 3 / 4; 
    /* border: 1px solid white; */
    border-radius: 2rem;
    background: transparent;
}

.div4 { 
    grid-area: 2 / 4 / 3 / 5; 
    /* border: 1px solid white; */
    border-radius: 2rem;
    background: transparent;
}

.container{
    max-width: 72vw;
    margin: 2rem auto 2rem auto;
}

.container1{
    max-width: 72vw;
    margin: 14rem auto 2rem auto;
}

#schoonhuisch1{
    object-fit: cover;
    border-radius: 2rem;
}


#schoonhuischtext{
    max-width: 50vw;
    color: #fff;
}

#projecten{
    background-image: linear-gradient(#EF5D62, #8E3889);
    color: transparent;
    background-clip: text;
    padding: 2rem 0 0 0;
}

#verzuimtext{
    color: #fff;
    max-width: 50vw;
}

#hidden{
    display: none;
}


.herosh{
    position: absolute;
    margin: 15vh auto;
    height: 80vh;
}

#heroshimg{
    
    width: 72vw;
    height: 100%;
    margin: 5vh 15vw;
}

.schoonhuischSection{
    height: 100vh;
    position: absolute;
    margin: 110vh 15vw 0 15vw;
    
}

.schoonhuischSection2{
    height: 100vh;
    position: absolute;
    margin: 220vh 15vw 0 15vw;
}

.schoonhuischSection3{
    height: 100vh;
    position: absolute;
    margin: 310vh 15vw 0 15vw;
}

.paragraph{
    margin: 330vh 15vw 0 15vw;
    position: absolute;
    color: #fff;
    display: flex;
}

.paragraph2{
    margin: 410vh 15vw 0 15vw;
    position: absolute;
    color: #fff;
    display: flex;
}

.paragraph3{
    margin: 600vh 15vw 0 15vw;
    position: absolute;
    color: #fff;
}

#text1{
    max-width: 30vw;
    line-height: 170%;
    margin: 30vh 0 0 2vw;
}

.themassection3{
    position: absolute;
    margin: 375vh 15vw 0 15vw;
}

.schoonhuischSection4{
    height: 100vh;
    position: absolute;
    margin: 480vh 15vw 0 15vw;
}

#inspiratiesh{
    color: #fff;
    width: 40vw;
    line-height: 170%;
}

#inspiratieimg{
   margin: 1vh 10vw;
}

#toekomstplannenimg{
    padding: 1vw 0;
}

#boekomslagimg{
    margin: 3vh 13vw 6vh 13vw;
}

#voorbeeldimg{
    position: absolute;
    margin: 480vh 30vw 0 30vw;
    width: 40%;
    justify-content: center;
}

#poster{
    width: 50%;
    margin: 5vh 17vw 8vh 17vw; 
}

#minorimg{
    margin: 5vh 17vw 8vh 17vw;
}

.hero-contact {
    height: 100vh;
    position: fixed;
    top: 20;
    left: 0;
    width: 100%;
    color: #fff;
}

.hero-titles{
    margin: 20vh 0 0 0;
}

#contact-header {
    font-size: 60px;
    font-weight: 1000;
    margin: 0;
    text-align: center;
}

#contact-subtitle{
    font-size: 35px;
    text-align: center;
}

#contact-text{
    text-align: center;
    width: 10vw;
    font-size: 17px;
    margin: 2rem 0 0 -1.8rem;
}

.call-icon{
    width: 50px;
    height: 50px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}
